---
layout: default
title: Blog
---

<section>
  <div class="inner">

           {% for post in site.posts %}

              {% if post.categories contains page.category %}

                  <h1><a href="{{site.baseurl}}{{post.url}}"> {{ post.title }}</a> </h1>
                <!--     <h3> - {{ post.date | date: "%d %B %Y" }} </h3> -->
                  <p> {{ post.content }} </p>
                  <br>
                  <br>
                  <br>

                {% endif %}
           {% endfor %}

           <h3>Hmm, this is the end of the line. There's no more posts to show. </h2>
         </div>

         </section>
