---
layout: default
title: Blog
---

<section>
  <div class="inner">

           {% for post in site.posts %}

              {% if post.tag == page.tag %}

                  <h1> {{ post.title }} </h1>

                  <ul style="list-style-position: inside">
                   <li>
                     - {{ post.date | date: "%d %B %Y" }}
                   </li>
                  </ul>
                  <p> {{ post.content }} </p>


                {% endif %}
           {% endfor %}
         </div>

         </section>
